#press-area {
  .press-kit-home {
    a {
      color: $text-color;

      &:hover {
        color: $brand-primary;
      }
    }
  }

  .press-slider {
    span {
      width: 100%;
      display: inline-block;
      font-weight: 500;
      padding-top: 5px;
      color: #4d4c4c;
    }

    p {
      padding: 10px 0;
      text-transform: uppercase;
      font-size: 11px;
    }
  }

  .view-all-button {
    padding-top: 10px;

    .btn.btn-default.btn-block.margin-right-none {
      padding: 16px 30px;
    }
  }

  #press-releases-slider {
    .slick-next.material-icons.chevron_right.slick-arrow {
      background-color: rgba(255,255,255, 0.7);

      &:hover {
        background-color: $brand-primary;
        color: #fff;
      }
    }

    .slick-prev.material-icons.chevron_left.slick-arrow {
      background-color: rgba(255,255,255, 0.7);

      &:hover {
        background-color: $brand-primary;
        color: #fff;
      }
    }

    .slick-next.material-icons.chevron_right.slick-arrow {
      width: 32px;
      height: 25px;
      margin-top: -22px;
      right: 15px;

      &:before {
        top: 6px;
      }
    }

    .slick-prev.material-icons.chevron_left.slick-arrow {
      width: 32px;
      height: 25px;
      margin-top: -22px;
      left: 15px;

      &:before {
        top: 6px;
      }
    }
  }
}